<h1>Create a recipe</h1>

<!-- error handling -->
<div>
  <% if @recipe.errors.any? %>
    <ol>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg.capitalize %></li>
      <% end %>
    </ol>
  <% end %>
</div>

<div>
  <%= render :partial => 'form' %>
</div>

<div>
  [ <%= link_to 'Go back to recipes', recipes_path %> ]
</div>
