<!-- <footer class='footer'>
    <p>Monique Lee 2018</p>
</footer> -->


<div class="navbar navbar-default navbar-fixed-bottom" id="footer">
    <div class="container">
      <p class="navbar-text pull-left"> Monique Lee 2018
           <a href="https://github.com/ML78/project1-recipe_sharing_app" target="_blank" >GitHub</a>
      </p>

    </div>
</div>
